@media screen and (max-width: 600px) {
  .Test5 {
    width: auto;
  }
  .Test51 {
    font-size: 20px;
  }

  .Test5div1 {
    width: 23%;
  }
  .Test5div2 {
    width: 23%;
  }
  .Test5div3 {
    width: 23%;
  }

  .Test51h2 {
    font-size: 12px;
  }
  .Test52h2 {
    font-size: 12px;
  }
  .Test53h2 {
    font-size: 12px;
  }
  .Test51p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test52p {
    font-size: 12px;
    margin-top: 0%;
  }
  .Test53p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test5ref1 {
    font-size: 12px;
    margin-top: 25%;
    padding: 3%;
  }
  .Test5ref2 {
    font-size: 12px;
    padding: 3%;
    margin-top: 25%;
  }
  .Test5ref3 {
    font-size: 12px;
    padding: 3%;
    margin-top: 25%;
  }
}

@media screen and (width: 812px) {
  .Test5 {
    width: auto;
  }
  .Test51 {
    font-size: 20px;
  }

  .Test5div1 {
    width: 23%;
  }
  .Test5div2 {
    width: 23%;
  }
  .Test5div3 {
    width: 23%;
  }

  .Test51h2 {
    font-size: 12px;
  }
  .Test52h2 {
    font-size: 12px;
  }
  .Test53h2 {
    font-size: 12px;
  }
  .Test51p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test52p {
    font-size: 12px;
    margin-top: 0%;
  }
  .Test53p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test5ref1 {
    font-size: 12px;
    margin-top: 15%;
    padding: 3%;
  }
  .Test5ref2 {
    font-size: 12px;
    padding: 3%;
    margin-top: 15%;
  }
  .Test5ref3 {
    font-size: 12px;
    padding: 3%;
    margin-top: 15%;
  }
}

@media screen and (width: 736px) {
  .Test5 {
    width: auto;
  }
  .Test51 {
    font-size: 20px;
  }

  .Test5div1 {
    width: 23%;
  }
  .Test5div2 {
    width: 23%;
  }
  .Test5div3 {
    width: 23%;
  }

  .Test51h2 {
    font-size: 12px;
  }
  .Test52h2 {
    font-size: 12px;
  }
  .Test53h2 {
    font-size: 12px;
  }
  .Test51p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test52p {
    font-size: 12px;
    margin-top: 0%;
  }
  .Test53p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test5ref1 {
    font-size: 12px;
    margin-top: 15%;
    padding: 3%;
  }
  .Test5ref2 {
    font-size: 12px;
    padding: 3%;
    margin-top: 15%;
  }
  .Test5ref3 {
    font-size: 12px;
    padding: 3%;
    margin-top: 15%;
  }
}

@media screen and (width: 667px) {
  .Test5 {
    width: auto;
  }
  .Test51 {
    font-size: 20px;
  }

  .Test5div1 {
    width: 23%;
  }
  .Test5div2 {
    width: 23%;
  }
  .Test5div3 {
    width: 23%;
  }

  .Test51h2 {
    font-size: 12px;
  }
  .Test52h2 {
    font-size: 12px;
  }
  .Test53h2 {
    font-size: 12px;
  }
  .Test51p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test52p {
    font-size: 12px;
    margin-top: 0%;
  }
  .Test53p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test5ref1 {
    font-size: 12px;
    margin-top: 15%;
    padding: 3%;
  }
  .Test5ref2 {
    font-size: 12px;
    padding: 3%;
    margin-top: 15%;
  }
  .Test5ref3 {
    font-size: 12px;
    padding: 3%;
    margin-top: 15%;
  }
}

@media screen and (width: 823px) {
  .Test5 {
    width: auto;
  }
  .Test51 {
    font-size: 20px;
  }

  .Test5div1 {
    width: 23%;
  }
  .Test5div2 {
    width: 23%;
  }
  .Test5div3 {
    width: 23%;
  }

  .Test51h2 {
    font-size: 12px;
  }
  .Test52h2 {
    font-size: 12px;
  }
  .Test53h2 {
    font-size: 12px;
  }
  .Test51p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test52p {
    font-size: 12px;
    margin-top: 0%;
  }
  .Test53p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test5ref1 {
    font-size: 12px;
    margin-top: 15%;
    padding: 3%;
  }
  .Test5ref2 {
    font-size: 12px;
    padding: 3%;
    margin-top: 15%;
  }
  .Test5ref3 {
    font-size: 12px;
    padding: 3%;
    margin-top: 15%;
  }
}

@media screen and (width: 731px) {
  .Test5 {
    width: auto;
  }
  .Test51 {
    font-size: 20px;
  }

  .Test5div1 {
    width: 23%;
  }
  .Test5div2 {
    width: 23%;
  }
  .Test5div3 {
    width: 23%;
  }

  .Test51h2 {
    font-size: 12px;
  }
  .Test52h2 {
    font-size: 12px;
  }
  .Test53h2 {
    font-size: 12px;
  }
  .Test51p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test52p {
    font-size: 12px;
    margin-top: 0%;
  }
  .Test53p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test5ref1 {
    font-size: 12px;
    margin-top: 15%;
    padding: 3%;
  }
  .Test5ref2 {
    font-size: 12px;
    padding: 3%;
    margin-top: 15%;
  }
  .Test5ref3 {
    font-size: 12px;
    padding: 3%;
    margin-top: 15%;
  }
}

@media screen and (width: 640px) {
  .Test5 {
    width: auto;
  }
  .Test51 {
    font-size: 20px;
  }

  .Test5div1 {
    width: 23%;
  }
  .Test5div2 {
    width: 23%;
  }
  .Test5div3 {
    width: 23%;
  }

  .Test51h2 {
    font-size: 12px;
  }
  .Test52h2 {
    font-size: 12px;
  }
  .Test53h2 {
    font-size: 12px;
  }
  .Test51p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test52p {
    font-size: 12px;
    margin-top: 0%;
  }
  .Test53p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test5ref1 {
    font-size: 12px;
    margin-top: 15%;
    padding: 3%;
  }
  .Test5ref2 {
    font-size: 12px;
    padding: 3%;
    margin-top: 15%;
  }
  .Test5ref3 {
    font-size: 12px;
    padding: 3%;
    margin-top: 15%;
  }
}

@media screen and (width: 653px) {
  .Test5 {
    width: auto;
  }
  .Test51 {
    font-size: 20px;
  }

  .Test5div1 {
    width: 23%;
  }
  .Test5div2 {
    width: 23%;
  }
  .Test5div3 {
    width: 23%;
  }

  .Test51h2 {
    font-size: 12px;
  }
  .Test52h2 {
    font-size: 12px;
  }
  .Test53h2 {
    font-size: 12px;
  }
  .Test51p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test52p {
    font-size: 12px;
    margin-top: 0%;
  }
  .Test53p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test5ref1 {
    font-size: 12px;
    margin-top: 15%;
    padding: 3%;
  }
  .Test5ref2 {
    font-size: 12px;
    padding: 3%;
    margin-top: 15%;
  }
  .Test5ref3 {
    font-size: 12px;
    padding: 3%;
    margin-top: 15%;
  }
}

@media screen and (width: 568px) {
  .Test5 {
    width: auto;
  }
  .Test51 {
    font-size: 20px;
  }

  .Test5div1 {
    width: 23%;
  }
  .Test5div2 {
    width: 23%;
  }
  .Test5div3 {
    width: 23%;
  }

  .Test51h2 {
    font-size: 12px;
  }
  .Test52h2 {
    font-size: 12px;
  }
  .Test53h2 {
    font-size: 12px;
  }
  .Test51p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test52p {
    font-size: 12px;
    margin-top: 0%;
  }
  .Test53p {
    margin-top: 0%;
    font-size: 12px;
  }
  .Test5ref1 {
    font-size: 12px;
    margin-top: 15%;
    padding: 3%;
  }
  .Test5ref2 {
    font-size: 12px;
    padding: 3%;
    margin-top: 15%;
  }
  .Test5ref3 {
    font-size: 12px;
    padding: 3%;
    margin-top: 15%;
  }
}

@media screen and (width: 768px) {
  .Test5 {
    width: auto;
  }
  .Test51 {
    font-size: 20px;
  }

  .Test5div1 {
    width: 23%;
  }
  .Test5div2 {
    width: 23%;
  }
  .Test5div3 {
    width: 23%;
  }

  .Test51h2 {
    font-size: 18px;
  }
  .Test52h2 {
    font-size: 18px;
  }
  .Test53h2 {
    font-size: 18px;
  }
  .Test51p {
    margin-top: 5%;
    font-size: 18px;
  }
  .Test52p {
    font-size: 18px;
    margin-top: 5%;
  }
  .Test53p {
    margin-top: 5%;
    font-size: 18px;
  }
  .Test5ref1 {
    font-size: 15px;
    margin-top: 15%;
    padding: 3%;
  }
  .Test5ref2 {
    font-size: 15px;
    padding: 3%;
    margin-top: 15%;
  }
  .Test5ref3 {
    font-size: 15px;
    padding: 3%;
    margin-top: 15%;
  }
}

@media screen and (width: 1024px) {
  .Test5 {
    width: auto;
  }
  .Test51 {
    font-size: 30px;
  }

  .Test5div1 {
    width: 23%;
  }
  .Test5div2 {
    width: 23%;
  }
  .Test5div3 {
    width: 23%;
  }

  .Test51h2 {
    font-size: 25px;
  }
  .Test52h2 {
    font-size: 25px;
  }
  .Test53h2 {
    font-size: 25px;
  }
  .Test51p {
    margin-top: 8%;
    word-spacing: 5px;
    line-height: 29px;
    font-size: 17px;
  }
  .Test52p {
    margin-top: 8%;
    word-spacing: 5px;
    line-height: 29px;
    font-size: 17px;
  }
  .Test53p {
    margin-top: 8%;
    word-spacing: 5px;
    line-height: 29px;
    font-size: 17px;
  }
  .Test5ref1 {
    font-size: 15px;
    margin-top: 10%;
    padding: 3%;
  }
  .Test5ref2 {
    font-size: 15px;
    padding: 3%;
    margin-top: 10%;
  }
  .Test5ref3 {
    font-size: 15px;
    padding: 3%;
    margin-top: 10%;
  }
}
