@media screen and (max-width: 600px) {
  .beforewasterecyclingservices {
    width: 100%;
  }
  .beforewasterecyclingservices1 {
    margin-left: 2%;
  }
  .wmsip1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .wmsip2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip9 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip10 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip11 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip12 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip13 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip14 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip15 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipplastic {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipwires {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .SNFAQ {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
}

@media screen and (width: 812px) {
  .beforewasterecyclingservices {
    width: 100%;
  }
  .beforewasterecyclingservices1 {
    margin-left: 2%;
  }
  .wmsip1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .wmsip2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip9 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip10 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip11 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip12 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip13 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip14 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip15 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipplastic {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipwires {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .SNFAQ {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
}

@media screen and (width: 736px) {
  .beforewasterecyclingservices {
    width: 100%;
  }
  .beforewasterecyclingservices1 {
    margin-left: 2%;
  }
  .wmsip1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .wmsip2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip9 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip10 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip11 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip12 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip13 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip14 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip15 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipplastic {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipwires {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .SNFAQ {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
}

@media screen and (width: 667px) {
  .beforewasterecyclingservices {
    width: 100%;
  }
  .beforewasterecyclingservices1 {
    margin-left: 2%;
  }
  .wmsip1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .wmsip2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip9 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip10 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip11 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip12 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip13 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip14 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip15 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipplastic {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipwires {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .SNFAQ {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
}

@media screen and (width: 823px) {
  .beforewasterecyclingservices {
    width: 100%;
  }
  .beforewasterecyclingservices1 {
    margin-left: 2%;
  }
  .wmsip1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .wmsip2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip9 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip10 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip11 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip12 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip13 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip14 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip15 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipplastic {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipwires {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .SNFAQ {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
}

@media screen and (width: 731px) {
  .beforewasterecyclingservices {
    width: 100%;
  }
  .beforewasterecyclingservices1 {
    margin-left: 2%;
  }
  .wmsip1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .wmsip2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip9 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip10 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip11 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip12 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip13 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip14 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip15 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipplastic {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipwires {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .SNFAQ {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
}

@media screen and (width: 640px) {
  .beforewasterecyclingservices {
    width: 100%;
  }
  .beforewasterecyclingservices1 {
    margin-left: 2%;
  }
  .wmsip1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .wmsip2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip9 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip10 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip11 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip12 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip13 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip14 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip15 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipplastic {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipwires {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .SNFAQ {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
}

@media screen and (width: 653px) {
  .beforewasterecyclingservices {
    width: 100%;
  }
  .beforewasterecyclingservices1 {
    margin-left: 2%;
  }
  .wmsip1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .wmsip2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip9 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip10 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip11 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip12 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip13 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip14 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip15 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipplastic {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipwires {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .SNFAQ {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
}

@media screen and (width: 568px) {
  .beforewasterecyclingservices {
    width: 100%;
  }
  .beforewasterecyclingservices1 {
    margin-left: 2%;
  }
  .wmsip1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .wmsip2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip9 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip10 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip11 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip12 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip13 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip14 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip15 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipplastic {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipwires {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq1 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq2 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq3 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq4 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq5 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq6 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq7 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq8 {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .SNFAQ {
    font-size: 15px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
}

@media screen and (width: 768px) {
  .beforewasterecyclingservices {
    width: 100%;
  }
  .beforewasterecyclingservices1 {
    margin-left: 2%;
  }
  .wmsip1 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .wmsip2 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip3 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip4 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip5 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip6 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip7 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip8 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip9 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip10 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip11 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip12 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip13 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip14 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip15 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipplastic {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipwires {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq1 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq2 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq3 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq4 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq5 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq6 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq7 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq8 {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .SNFAQ {
    font-size: 20px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
}

@media screen and (width: 1024px) {
  .beforewasterecyclingservices {
    width: 100%;
  }
  .beforewasterecyclingservices1 {
    margin-left: 2%;
  }
  .wmsip1 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .wmsip2 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip3 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip4 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip5 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip6 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip7 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip8 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip9 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip10 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip11 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip12 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip13 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip14 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsip15 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipplastic {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .wmsipwires {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq1 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq2 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq3 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq4 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq5 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq6 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq7 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
  .faq8 {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }

  .SNFAQ {
    font-size: 25px;
    width: auto;
    padding: 0%;
    text-align: justify;
  }
}
