@media screen and (max-width: 600px) {
  .Test100 {
    background-size: cover;
    height: 275px;
  }
}

@media screen and (width: 1024px) {
  .Test100 {
    background-size: cover;
    height: 575px;
  }
}

@media screen and (width: 812px) {
  .Test100 {
    background-size: cover;
    height: 575px;
  }
}

@media screen and (width: 736px) {
  .Test100 {
    background-size: cover;
    height: 575px;
  }
}

@media screen and (width: 667px) {
  .Test100 {
    background-size: cover;
    height: 575px;
  }
}

@media screen and (width: 823px) {
  .Test100 {
    background-size: cover;
    height: 575px;
  }
}

@media screen and (width: 731px) {
  .Test100 {
    background-size: cover;
    height: 575px;
  }
}

@media screen and (width: 640px) {
  .Test100 {
    background-size: cover;
    height: 575px;
  }
}

@media screen and (width: 653px) {
  .Test100 {
    background-size: cover;
    height: 575px;
  }
}

@media screen and (width: 568px) {
  .Test100 {
    background-size: cover;
    height: 575px;
  }
}

@media screen and (width: 768px) {
  .Test100 {
    background-size: cover;
    height: 575px;
  }
}

@media screen and (width: 1024px) {
  .Test100 {
    background-size: cover;
    height: 650px;
  }
}
